*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.swiper {
  width: 100%;
  margin: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border-radius: 10px;
}

.swiper-slide .the-images img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-slide img {
  filter: brightness(60%);
}
.swiper-slide:hover img {
  filter: brightness(120%);
}

.swiper-slide .the-images {
  position: relative;
}

.swiper-slide:hover .the-images {
  transform: scale(1.05);
}

.swiper-content h3 {
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: x-large;
  color: silver;
}

.swiper-content:hover h3 {
  color: darkred;
  font-size: xx-large;
}

.swiper-button-next,
.swiper-button-prev {
  color: #8b0000 !important; /* deep dark red */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #b30000 !important;
}
